<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <header class="p-3" style="background-color: darkblue">
        <div class="jumbotron text-center text">
            <img class="img-fluid" src="/static/writers_junction_complete.png" alt="Logo">
            <h3 style="color: white">The ultimate creative writing collaboration platform</h3>
    </header>
    <div class="card" style="width: 18rem;">
        <div class="card-body bg-primary">
            <h5 class="card-title text text-center">Login</h5>
            <form action="/login" method="post">
                <label>Username:</label>
                <input type="text" name="username">
                {% with errors = get_flashed_messages(category_filter=["err_users_username"]) %}
                {% if errors %}
                <div class="alert-message block-message error">
                    <a class="close" href="#">×</a>
                    <ul>
                        {%- for msg in errors %}
                        <li>{{ msg }}</li>
                        {% endfor -%}
                    </ul>
                </div>
                {% endif %}
                {% endwith %}
                <label>Password:</label>
                <input type="password" name="password">
                <button>Submit</button>
            </form>
        </div>
</body>

</html>